body {
  font-family: 'Roboto Slab', serif;
  background-color: #ffffff;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #fc7d57;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #fc7d57;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #fc7d57;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #fc7d57;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #91a9c9;
  border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #7270e6;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 400px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}

.nav-distance {
  padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
  line-height: 1.68;
  text-align: left;
  color: #35465d;
}

.navbar-light .navbar-toggler {
  border-color: #ffffff;
}

.section {
  margin-top: 100px;
}

.title {
  line-height: 1.67;
  text-align: center;
  color: #35465d;
}

.subtitle {
  line-height: 1.53;
  text-align: center;
  color: #35465d;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
  .navbar-brand {
    font-size: 2rem;
  }
}
.chrisYoon-link {
  font-size: 1rem;
  line-height: 1.71;
  text-align: center;
  color: #35465d;
}

.chrisYoon-cover {
  margin-top: 200px;
}

.file-upload {
  margin: 0 auto;
  padding: 10% 0;
  border-radius: 10px;
  border: solid 1.5px #f6f7fa;
  background-color: #f6f7fa;
}

.image-upload-wrap {
  width: 70%;
  margin: 0 auto;
  object-fit: contain;
  border-radius: 10px;
  border: dashed 1.5px #35465d;
  background-color: #ffffff;
}

.upload-img {
  margin-top: 30px;
  width: 10%;
  object-fit: contain;
}

.upload-text {
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}

.share-btn-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 35.5%;
  transform: translateY(-50%);
}

.share-btn-container a i {
  font-size: 32px;
}

.share-btn-container a {
  margin: 12px 0;
  transition: 500ms;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-facebook {
  color: #1877f2;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
}

.share-btn-container .fa-whatsapp {
  color: #128c7e;
}

.share-btn-container .fa-pinterest {
  color: #e60023;
}

.share-btn-container .fa-reddit {
  color: #ff4500;
}

/* Media Queries */
@media (max-width: 500px) {
  .content {
    padding: 8px 32px;
  }

  .share-btn-container {
    transform: unset;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    padding: 16px 0;
    justify-content: center;
  }

  .share-btn-container a {
    margin: 0 32px;
  }
}
