body {
  font-family: 'Roboto Slab', serif;
  height: 100vh;
  background-image: url('image/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #ffffff; */
}
.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #fc7d57;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #fc7d57;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #fc7d57;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #fc7d57;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #91a9c9;
  border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #7270e6;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 400px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}

.nav-distance {
  padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
  line-height: 1.68;
  text-align: left;
  color: #35465d;
}

.navbar-light .navbar-toggler {
  border-color: #ffffff;
}

.section {
  margin-top: 100px;
}

.title {
  line-height: 1.67;
  text-align: center;
  color: #fa55d6;
}

.subtitle {
  line-height: 1.53;
  text-align: center;
  color: #35465d;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
  .navbar-brand {
    font-size: 2rem;
  }
}
.chrisYoon-link {
  font-size: 1rem;
  line-height: 1.71;
  text-align: center;
  color: #ccd7e6;
}

.chrisYoon-cover {
  margin-top: 200px;
}

.file-upload {
  margin: 0 auto;
  padding: 10% 0;
  border-radius: 10px;
  border: solid 1.5px #f6f7fa;
  background-color: #f6f7fa;
}

.image-upload-wrap {
  width: 70%;
  margin: 0 auto;
  object-fit: contain;
  border-radius: 10px;
  border: dashed 1.5px #35465d;
  background-color: #ffffff;
}

.upload-img {
  margin-top: 30px;
  width: 10%;
  object-fit: contain;
}

.upload-text {
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}

.share-btn-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 42%;
  transform: translateY(-50%);
}

.share-btn-container a i {
  font-size: 32px;
}

.share-btn-container a {
  margin: 15px 0;
  transition: 500ms;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-facebook {
  color: #1877f2;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
}

.share-btn-container .fa-whatsapp {
  color: #128c7e;
}

.share-btn-container .fa-pinterest {
  color: #e60023;
}

.share-btn-container .fa-reddit {
  color: #ff4500;
}
.footer {
  background-color: initial;
  color: initial;
}

.bar-container {
  height: 2.7rem;
}
.Itzy-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.Itzy-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}

.Twice-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.Twice-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}
.Brave.Girls-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(251, 176, 59, 0.2);
}
.Brave.Girls-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(251, 176, 59, 1);
}
.aespa-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.aespa-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(195, 140, 102, 1);
}
.Red.Velvet-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.Red.Velvet-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}
.MAMAMOO-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.MAMAMOO-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}
.Blackpink-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.Blackpink-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}
.percent-text {
  font-size: 1rem;
  color: #ffffff;
}

.animal-label {
  width: 20%;
  text-align: left;
  height: 2rem;
  font-size: small;
}
#label-container {
  width: 80%;
  margin: 0 auto;
}
.result-message {
  font-size: 2rem;
}
.animal-explain {
  font-size: 1.5rem;
}
.dinosaur-animal-title {
  color: #3ba363;
}
.dinosaur-animal-celeb {
  color: #3ba363;
  font-size: 1.2rem;
}
.cat-animal-title {
  color: #ff6c0a;
}
.cat-animal-celeb {
  color: #ff6c0a;
  font-size: 1.2rem;
}
.dog-animal-title {
  color: #548dd4;
}
.dog-animal-celeb {
  color: #548dd4;
  font-size: 1.2rem;
}
.rabbit-animal-title {
  color: #e56995;
}
.rabbit-animal-celeb {
  color: #e56995;
  font-size: 1.2rem;
}
.bear-animal-title {
  color: #9b6b43;
}
.bear-animal-celeb {
  color: #9b6b43;
  font-size: 1.2rem;
}
.btn {
  position: relative;
}

.btn input {
  position: relative;
  margin-top: 40px;
  width: 300px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  cursor: none;
  appearance: none;
  font-weight: bold;
  box-shadow: 1px 6px 11px #e0dddd;
}

.btn input:before,
.btn input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #111;
}

.btn input:before {
  content: 'Girl Group';
  left: 40px;
}

.btn input:after {
  content: 'Boy Group';
  right: 40px;
}

.btn label {
  z-index: 1;
  position: absolute;
  top: 51px;
  bottom: 17px;
  border-radius: 10px;
}

.btn.btn-1 input {
  transition: 0.2s -0.1s;
}

.btn.btn-1 input:checked {
  background: #fff;
}

.btn.btn-1 input:checked:before {
  color: #111;
  transition: color 0.5s 0.2s;
}

.btn.btn-1 input:checked:after {
  color: #111;
  transition: color 0.5s;
}

.btn.btn-1 input:checked + label {
  left: 20px;
  right: 163px;
  background: #ee81ae;
  transition: left 0.5s, right 0.4s 0.2s;
}
.btn.btn-1 input:not(:checked) {
  background: #fff;
  transition: background 0.5s -0.1s;
}
.btn.btn-1 input:not(:checked):before {
  color: #111;
  transition: color 0.5s;
}

.btn.btn-1 input:not(:checked):after {
  color: #1e1e1e;
  transition: color 0.5s 0.2s;
}

.btn.btn-1 input:not(:checked) + label {
  left: 157px;
  right: 20px;
  background: rgb(123, 171, 226);
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
/* Media Queries */
@media (max-width: 500px) {
  .content {
    padding: 8px 32px;
  }

  .share-btn-container {
    transform: unset;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    padding: 16px 0;
    justify-content: center;
  }

  .share-btn-container a {
    margin: 0 32px;
  }
}
